@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    background: #460ba0;
    height: 100px;
    display: flex;
    align-items: center;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 20px;
}

.container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.materiais-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "League Spartan", system-ui, sans-serif;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn {
    background: #9357f0;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.online {
    background: none;
    border: 2px solid #fff;
    padding: 12px 20px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.online:hover{
    text-decoration: underline;
    cursor: pointer;
}




.cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 20px;
}

.card {
  background-color: #e7d9f8; 
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  margin-left: 50px;
  margin-right: 50px;
}

.card-title {
  color: #4f00a8; 
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.value {
  font-size: 36px;
  font-weight: bold;
  color: #4f00a8;
  margin-bottom: 5px;
  font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sub {
  font-size: 13px;
  color: #4f00a8;
  opacity: 0.8;
  font-family:League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.menu-container {
    display: flex;
    gap: 25px;
    background-color: #A55BFF;
    padding: 12px 40px;
    border-radius: 0px 30px 30px 0px; 
    width: fit-content;
    margin-top: 40px;
    margin-left: 0; 
}

 .menu-btn {
    background: transparent;
    border: none;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.icon {
    width: 22px;
    height: 22px;
}

/* hover */
.menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}





.painel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0px 0px 0px;
}

.painel-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-left: 40px;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.painel-icon {
  width: 40px;
}

.painel-header h2 {
  font-size: 40px;
  font-weight: 700;
  color: #421E99;
  
}

.painel-cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.painel-card {
  background-color: #471691;
  color: white;
  width: 230px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.painel-card h3 {
  font-size: 16px;
  margin-bottom: 10px;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.big-number {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.tag {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
  margin-bottom: 5px;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.green { background: #0ed64f; }
.blue { background: #52b7ff; }
.gray { background: #cfcfcf; }
.red { background: #ff3f3f; }


.desc {
  font-size: 12px;
  opacity: 0.9;
}

.painel-footer {
  margin-top: 60px;
  background: #4B00A0;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
  font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-logo {
  width: 180px;
  margin-bottom: 10px;
}

.materiais-titulo {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 700;
  color: #3a0088;
  margin-bottom: 25px;
}

.materiais-container {
  display: flex;
  align-self: center;
  gap: 30px;
  flex-wrap: nowrap;
}

.card5 {
  background: #eee5f8;
  width: 230px;
  padding: 25px 20px;
  border-radius: 20px;
  text-align: center;
}

.card h2 {
  margin: 0 0 20px 0;
  font-size: 20px;
  color: #3a0088;
}

.label {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  color: #3a0088;
  font-weight: 600;
}

.label span {
  float: right;
}

.bar {
  width: 100%;
  height: 8px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.bar div {
  height: 100%;
  background: #3a0088;
}

.grafico {
  width: 60px;
  margin: 15px auto 5px auto;
  display: block;
}

.ordem {
  font-size: 11px;
  color: #3a0088;
  margin-top: 5px;
}

.alerta {
  background: #f4c96b;
  color: #7d4800;
  font-weight: bold;
  padding: 4px 10px;
  width: fit-content;
  margin: 12px auto;
  border-radius: 6px;
  font-size: 11px;
}

#pag-atual {
    background-color: #300c5c;
}