@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    background: #460ba0;
    height: 100px;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn {
    background: #9357f0;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.online {
    background: none;
    border: 2px solid #fff;
    padding: 12px 20px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.online:hover{
    text-decoration: underline;
    cursor: pointer;
}




.cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 20px;
}

.card {
  background-color: #e7d9f8; 
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  margin-left: 50px;
  margin-right: 50px;
}

.card-title {
  color: #4f00a8; 
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.value {
  font-size: 36px;
  font-weight: bold;
  color: #4f00a8;
  margin-bottom: 5px;
  font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sub {
  font-size: 13px;
  color: #4f00a8;
  opacity: 0.8;
  font-family:League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.menu-container {
    display: flex;
    gap: 25px;
    background-color: #A55BFF;
    padding: 12px 40px;
    border-radius: 0px 30px 30px 0px; 
    width: fit-content;
    margin-top: 40px;
    margin-left: 0; 
}

 .menu-btn {
    background: transparent;
    border: none;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.icon {
    width: 22px;
    height: 22px;
}

/* hover */
.menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}





.painel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0px 0px 0px;
}

.painel-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-left: 40px;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.painel-icon {
  width: 40px;
}

.painel-header h2 {
  font-size: 40px;
  font-weight: 700;
  color: #421E99;
  
}

.painel-cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.painel-card {
  background-color: #471691;
  color: white;
  width: 230px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.painel-card h3 {
  font-size: 16px;
  margin-bottom: 10px;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.big-number {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.tag {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
  margin-bottom: 5px;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.green { background: #0ed64f; }
.blue { background: #52b7ff; }
.gray { background: #cfcfcf; }
.red { background: #ff3f3f; }


.desc {
  font-size: 12px;
  opacity: 0.9;
}

.painel-footer {
  margin-top: 60px;
  background: #4B00A0;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
  font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-logo {
  width: 180px;
  margin-bottom: 10px;
}

.status-container {
    width: 100%;
    font-family: "League Spartan", system-ui, sans-serif;
}

.status-title {
  margin-top: 3%;
    margin-left: 2%;
    font-size: 28px;
    font-weight: 700;
    color: #4A0B8A;
    margin-bottom: 5px;
}

.alert-manutencao {
    text-align: center;
    color: red;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 2%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

.linhas-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin-bottom: 5%;
    flex-wrap: wrap;
}

.linha-card {
    background: #EDE2F7;
    width: 240px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.tag {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
}

.ativo { background: #44C77F; }
.parado { background: #F1C75A; }
.manutencao { background: #FF7E9D; }

.linha-nome {
    color: #4A0B8A;
    font-size: 22px;
    margin: 5px 0 15px;
}

.info-bloco {
    margin-bottom: 15px;
}

.label {
    font-size: 12px;
    text-align: left;
    color: #4A0B8A;
    font-weight: 700;
}

.barra {
    width: 100%;
    height: 10px;
    background: #D6C8E7;
    border-radius: 20px;
    overflow: hidden;
}

.barra-fill {
    height: 100%;
    background: #4A0B8A;
    border-radius: 20px;
}

.ordem,
.prox {
    font-size: 12px;
    font-weight: 600;
    color: #4A0B8A;
    margin: 4px 0;
}

#pag-atual {
    background-color: #300c5c;
}